@if (TempData["Message"] is not null)
{
    <div x-data="{showMessage: true}" x-transition x-show="showMessage" x-init="setTimeout(() => showMessage = false, 3000)" class="alert absolute flex justify-center items-center rounded-lg top-3 bg-red-400 left-[38%] px-10 w-96 shadow-lg">
        <div class="flex justify-center items-center">
            <span class="text-red-800">@TempData["Message"]</span>
        </div>
    </div>
}
<div class="flex flex-col justify-start mt-16 w-full px-20">
    <div class="mt-16 w-full">
                <div class="flex justify-between">
                    <div class="flex bg-base-300 h-10 shadow-lg rounded-md cursor-pointer">
                        <div class="px-6 py-2 rounded-l-md text-white">
                            <a asp-action="AllDvds" asp-controller="DVD">All DVDs</a>
                        </div>
                        <div class="px-6 py-2 bg-primary text-gray-300">
                            <a asp-action="Loaned" asp-controller="DVD">Currently loaned</a>
                        </div>
                        <div class="px-6 py-2 text-gray-300">
                            <a asp-action="NotLoaned" asp-controller="DVD">Not Loaned in last 31 days</a>
                        </div>
                    </div>
                    <form action="/DVD/Loaned" class="flex items-center gap-3" id="loanedDateFilter">
                        <h1 class="text-sm">Filter by date:</h1>
                        <input type="date" for="membership" name="date" id="loanedDatePicker" placeholder="Filter by date" class="input input-bordered bg-gray-800 text-gray-200"/>
                        <label for="membership" class="btn btn-primary modal-button">Add New DVD</label>
                        <label for="membership" class="btn btn-primary bg-error border-0 hover: modal-button">Remove DVD</label>
                    </form>
                </div>
            </div>
            <div class="overflow-x-auto grid grid-cols-2 gap-10 justify-items-stretch w-full mt-4">
    
                @foreach (var loan in ViewBag.loans)
                {
                    <div class="py-4 flex gap-3">
                        <img src="https://bulbfish.design/wp-content/uploads/2019/09/bulbfish-disc-jewel-box-mockup-BF-06.jpg" class="w-36 h-36"/>
                        <div class="flex flex-col gap-2">
                            <h4>
                                <h4>
                                    <a><span class="font-semibold text-gray-400">Date: </span>
                                    @loan.dateOut</a>
                                </h4>
                                <span class="font-semibold text-gray-400">Title:</span>@loan.dvdTitle
                            </h4>
                            <h4>
                                <span class="font-semibold text-gray-400">Loaned by:</span>
                                @loan.memberName
                            </h4>
                            <h4>
                                <span class="font-semibold text-gray-400">Copy number:</span>
                                @loan.copyNumber
                            </h4>
                            <h4>
                                <span class="font-semibold text-gray-400">Total loans on this date:</span>
                                @loan.totalPerDay
                            </h4>
                            
                        </div>
                    </div>
                }

            </div>
</div>