<div class="flex justify-center w-full">
    <div class="flex flex-col items-start gap-3 mt-20 bg-gray-00 text-gray-800 px-10 py-6 rounded-lg">
        <h1 class="text-sm mb-3">DVD copy info</h1>
        <h2 class="text-md mb-3"><span class="text-xl text-primary">Dvd name: </span> @ViewBag.loans.dvdName </h2>
        <h2 class="text-md mb-3"><span class="text-xl text-primary">Last borrowed by: </span> @ViewBag.loans.memberName </h2>
        <h2 class="text-md mb-3"><span class="text-xl text-primary">Last date out: </span> @ViewBag.loans.dateOut </h2>
        <h2 class="text-md mb-3"><span class="text-xl text-primary">Last date due: </span> @ViewBag.loans.dateDue </h2>
        <h2 class="text-md mb-3"><span class="text-xl text-primary">Last date returned: </span> @ViewBag.loans.dateReturned </h2>
    </div>
</div>