<div class="flex flex-col w-full px-20 mt-16">
    <div class="flex justify-start">
        <div class="flex bg-base-300 shadow-lg rounded-md cursor-pointer">
            <div class="px-6 py-2 bg-primary rounded-l-md text-white">
                <a asp-action="AllMembers" asp-controller="Membership">All Members</a>
            </div>
            <div class="px-6 py-2 text-gray-200">
                <a asp-action="NoLoans" asp-controller="Membership">Members with no loans</a>
            </div>
        </div>
    </div>
    <div class="mt-16 w-full">
        <div class="flex justify-between">
            <input type="text" placeholder="Search by name or number" class="input bg-gray-600 w-[30rem] max-w-xs text-lg shadow-sm">
            <a asp-action="AddMembership" asp-controller="Membership"><button class="btn btn-active btn-primary">Add Membership</button></a>
        </div>
    </div>
    <div class="overflow-x-auto w-full mt-6">
        <table class="table table-zebra w-full">
            <!-- head -->
            <thead class="bg-gray-500">
            <tr class="bg-gray-500">
                <th>Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Membership category number</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            @if (ViewBag.members is not null)
            {
                @foreach (var member in ViewBag.members)
                {
                    <tr>
                    <th><a href="@Url.Action("MembershipDetails", "Membership", new{id = @member.MemberNumber})" class="hover:text-underline cursor-pointer hover:font-bold">@member.MemberFirstName @member.MemberLastName</a></th>
                        <td>@member.MemberAddress</td>
                        <td>@member.MemberDOB</td>
                        <td>@member.MembershipCategoryNumber</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>